# Database (Supabase)
DATABASE_URL="postgresql://user:password@db.supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_SECRET="gere-com: openssl rand -base64 32"
NEXTAUTH_URL="https://seu-dominio.vercel.app"

# API
NEXT_PUBLIC_API_URL="https://seu-dominio.vercel.app/api"

# Anthropic API (IA - M7)
ANTHROPIC_API_KEY="sk-..."

# Ambiente
NODE_ENV="production"
